<a href="https://colab.research.google.com/github/Dangvinh777/pystata/blob/main/nckhESG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title üìì Library
import numpy as np
import pandas as pd
from IPython.display import Markdown, display,clear_output
!pip install --quiet statsmodels
import statsmodels.api as sm
!pip install --quiet linearmodels
import matplotlib.pyplot as plt
import seaborn as sns
from linearmodels.panel import PanelOLS, RandomEffects
def bold(text):
  return f"**{text}**"
#T·∫°o ƒëi·ªÅu ki·ªán ƒë·ªÉ check Dataframe
df0 = pd.DataFrame()
df1 = pd.DataFrame()
df2 = pd.DataFrame()
df3 = pd.DataFrame()
df4 = pd.DataFrame()
df5 = pd.DataFrame()
df6 = pd.DataFrame()
df7 = pd.DataFrame()
df8 = pd.DataFrame()
df9 = pd.DataFrame()
df10 = pd.DataFrame()

     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.8/1.8 MB 5.9 MB/s eta 0:00:00
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 88.9/88.9 kB 8.6 MB/s eta 0:00:00
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 43.8/43.8 kB 2.5 MB/s eta 0:00:00

In [2]:
#@title üõ†Ô∏è SETUP
Sheet_Name  = "Total"  #@param ["Total","Japan","USA","United Kingdom","Canada","Industrial","Utility","Transportation","Bank/Saving & Loans","Insurance","Other Financial","Non Financial","Financial"]
if Sheet_Name == "Total":
  SheNam = "Total"
elif Sheet_Name == "Japan":
  SheNam = "JP"
elif Sheet_Name == "United Kingdom":
  SheNam = "UK"
elif Sheet_Name == "USA":
  SheNam = "US"
elif Sheet_Name == "Canada":
  SheNam = "CA"
elif Sheet_Name == "Industrial":
  SheNam = "1"
elif Sheet_Name == "Utility":
  SheNam = "2"
elif Sheet_Name == "Transportation":
  SheNam = "3"
elif Sheet_Name == "Bank/Saving & Loans":
  SheNam = "4"
elif Sheet_Name == "Insurance":
  SheNam = "5"
elif Sheet_Name == "Other Financial":
  SheNam = "6"
elif Sheet_Name == "Non Financial":
  SheNam = "non_financ"
elif Sheet_Name == "Financial":
  SheNam = "financ"
df = pd.read_excel('https://huggingface.co/datasets/dangvinh77/data_ticket/resolve/main/run27_04.xlsx',sheet_name = SheNam)
print("Saved data to ", end ="")
display(Markdown(bold("df")))
Print_df = False  #@param {type:"boolean"}
if Print_df == True:
  display(df)

Saved data to

**df**

#X·ª≠ l√Ω data

In [ ]:
df

,COUNTRY,CODE,NAME,GENERAL INDUSTRY CLASSIFICATIO,YEAR,ENSCORE,SOSCORE,CGSCORE,TOTAL ASSETS,MARKET CAPITALIZATION,...,LOGCAP,FAGE,AS_TUR,GRW,LIQR,COV19,PA,PS,NewRev,AGE
0,Canada,C:ABX,BARRICK GOLD (TSE),1,2004,95.18,93.88,62.24,5736096,15473680,...,7.19,17,0.47,0.00,0.21,0,0,5.759967,2686418,17
1,Canada,C:ABX,BARRICK GOLD (TSE),1,2005,95.18,93.88,62.24,6452488,17439234,...,7.24,18,0.44,0.12,0.32,0,0,6.145663,2837649,18
2,Canada,C:ABX,BARRICK GOLD (TSE),1,2006,71.82,59.80,33.78,20771162,30981383,...,7.49,19,0.31,2.22,0.39,0,0,4.862926,6370934,19
3,Canada,C:ABX,BARRICK GOLD (TSE),1,2007,61.33,86.89,58.07,18096615,36343863,...,7.56,20,0.37,-0.13,0.30,0,0,5.404982,6724141,20
4,Canada,C:ABX,BARRICK GOLD (TSE),1,2008,68.59,88.65,45.02,28768944,39019449,...,7.59,21,0.29,0.59,0.45,0,0,4.639248,8410728,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19137,us,U:ZTS,ZOETIS A,1,2016,24.56,54.47,45.96,7553000,26382544,...,7.42,3,0.65,-0.04,0.33,0,0,5.397411,4888000,3
19138,us,U:ZTS,ZOETIS A,1,2017,22.21,60.73,49.58,8506000,35020838,...,7.54,4,0.62,0.13,0.26,0,0,6.598990,5307000,4
19139,us,U:ZTS,ZOETIS A,1,2018,24.33,61.92,62.22,10716000,41021761,...,7.61,5,0.54,0.26,0.28,0,0,7.042362,5825000,5
19140,us,U:ZTS,ZOETIS A,1,2019,39.09,64.42,54.90,11457000,62936159,...,7.80,6,0.55,0.07,0.38,1,0,10.053700,6260000,6
19141,us,U:ZTS,ZOETIS A,1,2020,39.09,64.42,54.90,13515000,78665088,...,7.90,7,0.49,0.18,0.33,1,0,11.785032,6675000,7

In [3]:
df.rename(columns={"ESG Score": "esgscore",
                   "COUNTRY": "country",
                   "CODE": "code",
                   "NAME": "name",
                   "GENERAL INDUSTRY CLASSIFICATIO": "industry",
                   "YEAR": "year",
                   "ENSCORE": "enscore",
                   "SOSCORE": "soscore",
                   "CGSCORE": "cgscore",
                   "TOTAL ASSETS": "totalassets",
                   "MARKET CAPITALIZATION": "marketcapital",
                   "REVENUES": "revenue",
                   "RETURN ON INVESTED CAPITAL": "returnonincvestedcapital",
                   "OPERATING PROFIT MARGIN": "operationprofit",
                   "TOTAL DEBT % COMMON EQUITY": "totaldebtcommonequity",
                   " COMMON SHAREHOLDERS' EQUITY": "commonshareholdersequity",
                   " RETURN ON ASSETS": "returnonassets",
                   "RETURN ON EQUITY - TOTAL (%)": "returnoneuitytotal",
                   "CLOSING PRICE": "closingrise",
                   "PROPERTY, PLANT & EQUIP - NET": "propertyplantequipment",
                   "INTANGIBLE": "intangibleassets",
                   "DEFERRED TAXES": "deferredtaxes",
                   "LONG TERM DEBT": "longtermdebt",
                   "CURRENT LIABILITIES": "currentliabilities",
                   "CURRENT RATIO": "currentratio",
                   "MRKT VALUE TO BOOK": "mrktvaluetobook",
                   "TOTALDEBTTOTALASSETS": "totaldebttotalassets",
                   "TOTAL DEBT": "totaldebt",
                   "DLEV1": "debttotalassets",
                   "ELEV": "debtequity",
                   "TOBINQ": "tobinq",
                   "ROA": "roa",
                   "ROE": "roe",
                   "ROIC": "roic",
                   "OPM": "opm",
                   "ROS": "ros",
                   "GO1": "assetsgrowth",
                   "GO2": "revenuegrowth",
                   "FAGE": "fage",
                   "AGE": "age",
                   "logassets": "logassets"
                  }, inplace=True)

df.drop(columns=['TANG', 'ESG', 'ESGs', 'SIZE', 'SIZE1', 'LOGCAP', 'AS_TUR', 'GRW', 'LIQR', 'COV19', 'PS','PA','fage','NewRev','age'], inplace=True)

In [ ]:
print(df.columns.tolist())

['country', 'code', 'name', 'industry', 'year', 'enscore', 'soscore', 'cgscore', 'totalassets', 'marketcapital', 'revenue', 'esgscore', 'returnonincvestedcapital', 'operationprofit', 'totaldebtcommonequity', 'commonshareholdersequity', 'returnonassets', 'returnoneuitytotal', 'closingrise', 'propertyplantequipment', 'intangibleassets', 'deferredtaxes', 'longtermdebt', 'currentliabilities', 'currentratio', 'mrktvaluetobook', 'totaldebttotalassets', 'totaldebt', 'debttotalassets', 'debtequity', 'tobinq', 'roa', 'roe', 'roic', 'opm', 'ros', 'assetsgrowth', 'revenuegrowth']

In [4]:
df = df[df['year'] >= 2011]

In [5]:
# Post
df['post'] = 0
df.loc[df['year'] >= 2016, 'post'] = 1
# Treat (ESGscore)
df['treat'] = 0
df.loc[df['esgscore'] >= 50, 'treat'] = 1
# Calculate the 'treat_mean' column using groupby and mean()
df['treat_mean'] = df.groupby('code')['treat'].transform('mean')

# Update the 'treat_mean' column based on the calculated mean value
df['treat_mean'] = df['treat_mean'].apply(lambda x: 1 if x > 0 else x)

# Treat (Non and not non financial)
df['treat_fin'] = 0
df.loc[df['industry'] >= 3, 'treat_fin'] = 1

In [ ]:
df.to_excel("result1.xlsx",index = False)

#H·∫≠u k·ª≥

In [6]:
# Sort the DataFrame by code and year in ascending order
df.sort_values(['code', 'year'], inplace=True)

# Replace zero values with NaN
df['revenue'].replace(0, np.nan, inplace=True)

# Forward-fill (ffill) non-null values within each company
df['revenue'] = df.groupby('code')['revenue'].ffill()

# Create a mask for identifying the year 2011 revenue as NaN
mask_2011_nan = (df['year'] == 2011) & df['revenue'].isnull()

# Fill the year 2011 revenue with the following non-zero value
df.loc[mask_2011_nan, 'revenue'] = df.loc[mask_2011_nan, 'revenue'].bfill()

# Backfill (bfill) the remaining non-null values within each company
df['revenue'] = df.groupby('code')['revenue'].bfill()

# Sort the DataFrame back to the original order
df.sort_index(inplace=True)
df['revenue'] = df['revenue'].bfill()

In [7]:
# Sort the DataFrame by code and year in ascending order
df.sort_values(['code', 'year'], inplace=True)

# Replace zero values with NaN
df['opm'].replace(0, np.nan, inplace=True)

# Forward-fill (ffill) non-null values within each company
df['opm'] = df.groupby('code')['opm'].ffill()

# Create a mask for identifying the year 2011 revenue as NaN
mask_2011_nan = (df['year'] == 2011) & df['opm'].isnull()

# Fill the year 2011 revenue with the following non-zero value
df.loc[mask_2011_nan, 'opm'] = df.loc[mask_2011_nan, 'opm'].bfill()

# Backfill (bfill) the remaining non-null values within each company
df['opm'] = df.groupby('code')['opm'].bfill()

# Sort the DataFrame back to the original order
df.sort_index(inplace=True)
df['opm'] = df['opm'].bfill()

In [8]:
is_blank = df['opm'].isnull().any()

if is_blank:
    print("C√≥ gi√° tr·ªã tr·ªëng trong c·ªôt 'opm'")
else:
    print("Kh√¥ng c√≥ gi√° tr·ªã tr·ªëng trong c·ªôt 'opm'")

Kh√¥ng c√≥ gi√° tr·ªã tr·ªëng trong c·ªôt 'opm'

In [9]:
count_zero_revenue = (df['opm'] == 0).sum()

print("S·ªë l∆∞·ª£ng gi√° tr·ªã 0 trong c·ªôt 'col1':", count_zero_revenue)

S·ªë l∆∞·ª£ng gi√° tr·ªã 0 trong c·ªôt 'col1': 0

In [ ]:
df.to_excel("result2.xlsx",index = False)

In [10]:
df['did'] = df['treat_mean'] * df['post']
df['ros'] = (df['roa'] * df['totalassets']) / df['revenue']
df['ps'] = df['closingrise'] / df['revenue']
df['logassets'] = np.log(df['totalassets'])
df['capint'] = df['totalassets'] / df['revenue']
df['logrev'] = np.log(df['revenue'])
df['logmkcap'] = np.log(df['marketcapital'])
df['ps'] = df['ps'].fillna(df['ps'].shift())
df['capint'] = df['capint'].fillna(df['capint'].shift())
df['logrev'] = df['logrev'].fillna(df['logrev'].shift())

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:402: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [11]:
df.to_excel("result3.xlsx",index = False)

#Ch·∫°y Model

In [ ]:
#@title Summary
# Select the variables of interest
variables = ['roa', 'roic', 'esgscore', 'logassets', 'logmkcap', 'capint', 'revenuegrowth', 'debttotalassets', 'currentratio']

# Compute the summary statistics
summary = df[variables].describe().round(2)

# Print the summary statistics
summary

,roa,roic,esgscore,logassets,logmkcap,capint,revenuegrowth,debttotalassets,currentratio
count,11731.00,11731.00,11731.00,11731.00,11731.00,11731.00,11731.00,11731.00,11731.00
mean,5.84,8.97,51.09,15.87,15.67,8.64,-24.18,2.17,2.12
std,10.40,23.20,19.15,1.89,1.67,129.52,2641.00,208.49,4.42
min,-163.17,-1092.34,0.95,4.09,4.29,-2039.11,-286045.00,0.00,0.07
25%,2.08,3.70,37.24,14.66,14.46,1.07,-0.05,0.06,1.01
50%,5.08,7.43,52.32,15.88,15.83,1.81,0.04,0.18,1.48
75%,9.34,13.39,66.13,17.03,16.80,4.16,0.15,0.32,2.15
max,134.92,1265.96,93.60,22.06,21.54,12706.70,375.15,22580.15,190.82

In [ ]:
#@title üõ†Ô∏è SETUP "1 CLICK for resultstep2"

Sheet_Name  = "Financial"  #@param ["Total","Japan","USA","United Kingdom","Canada","Industrial","Utility","Transportation","Bank/Saving & Loans","Insurance","Other Financial","Non Financial","Financial"]
if Sheet_Name == "Total":
  SheNam = "Total"
elif Sheet_Name == "Japan":
  SheNam = "JP"
elif Sheet_Name == "United Kingdom":
  SheNam = "UK"
elif Sheet_Name == "USA":
  SheNam = "US"
elif Sheet_Name == "Canada":
  SheNam = "CA"
elif Sheet_Name == "Industrial":
  SheNam = "1"
elif Sheet_Name == "Utility":
  SheNam = "2"
elif Sheet_Name == "Transportation":
  SheNam = "3"
elif Sheet_Name == "Bank/Saving & Loans":
  SheNam = "4"
elif Sheet_Name == "Insurance":
  SheNam = "5"
elif Sheet_Name == "Other Financial":
  SheNam = "6"
elif Sheet_Name == "Non Financial":
  SheNam = "non_financ"
elif Sheet_Name == "Financial":
  SheNam = "financ"
df = pd.read_excel('https://huggingface.co/datasets/dangvinh77/data_ticket/resolve/main/run27_04.xlsx',sheet_name = SheNam)
print("Saved data to ", end ="")
display(Markdown(bold("df")))
Print_df = False  #@param {type:"boolean"}
if Print_df == True:
  display(df)
df.rename(columns={"ESG Score": "esgscore",
                   "COUNTRY": "country",
                   "CODE": "code",
                   "NAME": "name",
                   "GENERAL INDUSTRY CLASSIFICATIO": "industry",
                   "YEAR": "year",
                   "ENSCORE": "enscore",
                   "SOSCORE": "soscore",
                   "CGSCORE": "cgscore",
                   "TOTAL ASSETS": "totalassets",
                   "MARKET CAPITALIZATION": "marketcapital",
                   "REVENUES": "revenue",
                   "RETURN ON INVESTED CAPITAL": "returnonincvestedcapital",
                   "OPERATING PROFIT MARGIN": "operationprofit",
                   "TOTAL DEBT % COMMON EQUITY": "totaldebtcommonequity",
                   " COMMON SHAREHOLDERS' EQUITY": "commonshareholdersequity",
                   " RETURN ON ASSETS": "returnonassets",
                   "RETURN ON EQUITY - TOTAL (%)": "returnoneuitytotal",
                   "CLOSING PRICE": "closingrise",
                   "PROPERTY, PLANT & EQUIP - NET": "propertyplantequipment",
                   "INTANGIBLE": "intangibleassets",
                   "DEFERRED TAXES": "deferredtaxes",
                   "LONG TERM DEBT": "longtermdebt",
                   "CURRENT LIABILITIES": "currentliabilities",
                   "CURRENT RATIO": "currentratio",
                   "MRKT VALUE TO BOOK": "mrktvaluetobook",
                   "TOTALDEBTTOTALASSETS": "totaldebttotalassets",
                   "TOTAL DEBT": "totaldebt",
                   "DLEV1": "debttotalassets",
                   "ELEV": "debtequity",
                   "TOBINQ": "tobinq",
                   "ROA": "roa",
                   "ROE": "roe",
                   "ROIC": "roic",
                   "OPM": "opm",
                   "ROS": "ros",
                   "GO1": "assetsgrowth",
                   "GO2": "revenuegrowth",
                   "FAGE": "fage",
                   "AGE": "age",
                   "logassets": "logassets"
                  }, inplace=True)

df.drop(columns=['TANG', 'ESG', 'ESGs', 'SIZE', 'SIZE1', 'LOGCAP', 'AS_TUR', 'GRW', 'LIQR', 'COV19', 'PS','PA'], inplace=True)
df = df[df['year'] >= 2011]
# Post
df['post'] = 0
df.loc[df['year'] >= 2016, 'post'] = 1
# Treat
df['treat'] = 0
df.loc[df['esgscore'] >= 50, 'treat'] = 1
# Sort the DataFrame by code and year in ascending order
df.sort_values(['code', 'year'], inplace=True)

# Replace zero values with NaN
df['revenue'].replace(0, np.nan, inplace=True)

# Forward-fill (ffill) non-null values within each company
df['revenue'] = df.groupby('code')['revenue'].ffill()

# Create a mask for identifying the year 2011 revenue as NaN
mask_2011_nan = (df['year'] == 2011) & df['revenue'].isnull()

# Fill the year 2011 revenue with the following non-zero value
df.loc[mask_2011_nan, 'revenue'] = df.loc[mask_2011_nan, 'revenue'].bfill()

# Backfill (bfill) the remaining non-null values within each company
df['revenue'] = df.groupby('code')['revenue'].bfill()

# Sort the DataFrame back to the original order
df.sort_index(inplace=True)
df['revenue'] = df['revenue'].bfill()
df.to_excel(Sheet_Name + ".xlsx", index=False)

Saved data to

**df**

In [ ]:
#@title üõ†Ô∏è SETUP "1 CLICK"

Sheet_Name  = "Total"  #@param ["Total","Japan","USA","United Kingdom","Canada","Industrial","Utility","Transportation","Bank/Saving & Loans","Insurance","Other Financial","Non Financial","Financial"]
if Sheet_Name == "Total":
  SheNam = "Total"
elif Sheet_Name == "Japan":
  SheNam = "JP"
elif Sheet_Name == "United Kingdom":
  SheNam = "UK"
elif Sheet_Name == "USA":
  SheNam = "US"
elif Sheet_Name == "Canada":
  SheNam = "CA"
elif Sheet_Name == "Industrial":
  SheNam = "1"
elif Sheet_Name == "Utility":
  SheNam = "2"
elif Sheet_Name == "Transportation":
  SheNam = "3"
elif Sheet_Name == "Bank/Saving & Loans":
  SheNam = "4"
elif Sheet_Name == "Insurance":
  SheNam = "5"
elif Sheet_Name == "Other Financial":
  SheNam = "6"
elif Sheet_Name == "Non Financial":
  SheNam = "non_financ"
elif Sheet_Name == "Financial":
  SheNam = "financ"
df = pd.read_excel('https://huggingface.co/datasets/dangvinh77/data_ticket/resolve/main/run27_04.xlsx',sheet_name = SheNam)
print("Saved data to ", end ="")
display(Markdown(bold("df")))
Print_df = False  #@param {type:"boolean"}
if Print_df == True:
  display(df)
df.rename(columns={"ESG Score": "esgscore",
                   "COUNTRY": "country",
                   "CODE": "code",
                   "NAME": "name",
                   "GENERAL INDUSTRY CLASSIFICATIO": "industry",
                   "YEAR": "year",
                   "ENSCORE": "enscore",
                   "SOSCORE": "soscore",
                   "CGSCORE": "cgscore",
                   "TOTAL ASSETS": "totalassets",
                   "MARKET CAPITALIZATION": "marketcapital",
                   "REVENUES": "revenue",
                   "RETURN ON INVESTED CAPITAL": "returnonincvestedcapital",
                   "OPERATING PROFIT MARGIN": "operationprofit",
                   "TOTAL DEBT % COMMON EQUITY": "totaldebtcommonequity",
                   " COMMON SHAREHOLDERS' EQUITY": "commonshareholdersequity",
                   " RETURN ON ASSETS": "returnonassets",
                   "RETURN ON EQUITY - TOTAL (%)": "returnoneuitytotal",
                   "CLOSING PRICE": "closingrise",
                   "PROPERTY, PLANT & EQUIP - NET": "propertyplantequipment",
                   "INTANGIBLE": "intangibleassets",
                   "DEFERRED TAXES": "deferredtaxes",
                   "LONG TERM DEBT": "longtermdebt",
                   "CURRENT LIABILITIES": "currentliabilities",
                   "CURRENT RATIO": "currentratio",
                   "MRKT VALUE TO BOOK": "mrktvaluetobook",
                   "TOTALDEBTTOTALASSETS": "totaldebttotalassets",
                   "TOTAL DEBT": "totaldebt",
                   "DLEV1": "debttotalassets",
                   "ELEV": "debtequity",
                   "TOBINQ": "tobinq",
                   "ROA": "roa",
                   "ROE": "roe",
                   "ROIC": "roic",
                   "OPM": "opm",
                   "ROS": "ros",
                   "GO1": "assetsgrowth",
                   "GO2": "revenuegrowth",
                   "FAGE": "fage",
                   "AGE": "age",
                   "logassets": "logassets"
                  }, inplace=True)

df.drop(columns=['TANG', 'ESG', 'ESGs', 'SIZE', 'SIZE1', 'LOGCAP', 'AS_TUR', 'GRW', 'LIQR', 'COV19', 'PS','PA'], inplace=True)
df = df[df['year'] >= 2011]
# Post
df['post'] = 0
df.loc[df['year'] >= 2016, 'post'] = 1
# Treat
df['treat'] = 0
df.loc[df['esgscore'] >= 50, 'treat'] = 1
# Sort the DataFrame by code and year in ascending order
df.sort_values(['code', 'year'], inplace=True)

# Replace zero values with NaN
df['revenue'].replace(0, np.nan, inplace=True)

# Forward-fill (ffill) non-null values within each company
df['revenue'] = df.groupby('code')['revenue'].ffill()

# Create a mask for identifying the year 2011 revenue as NaN
mask_2011_nan = (df['year'] == 2011) & df['revenue'].isnull()

# Fill the year 2011 revenue with the following non-zero value
df.loc[mask_2011_nan, 'revenue'] = df.loc[mask_2011_nan, 'revenue'].bfill()

# Backfill (bfill) the remaining non-null values within each company
df['revenue'] = df.groupby('code')['revenue'].bfill()

# Sort the DataFrame back to the original order
df.sort_index(inplace=True)
df['revenue'] = df['revenue'].bfill()
df['ps'] = df['closingrise'] / df['revenue']
df['logassets'] = np.log(df['totalassets'])
df['ps'] = df['closingrise'] / df['revenue']
df['capint'] = df['totalassets'] / df['revenue']
df['logrev'] = np.log(df['revenue'])
df['logmkcap'] = np.log(df['marketcapital'])

df['ros'] = df['ros'].fillna(df['ros'].shift())
df['ps'] = df['ps'].fillna(df['ps'].shift())
df['capint'] = df['capint'].fillna(df['capint'].shift())
df['logrev'] = df['logrev'].fillna(df['logrev'].shift())
clear_output()
#xtset(STATA)
df.set_index(['code', 'year'], inplace=True)

In [ ]:
#xtset(STATA)
df.set_index(['code', 'year'], inplace=True)

In [ ]:
# Define the dependent variable (y) and independent variables (X)
y = df[['roa']]
X = df[['esgscore', 'logassets','logmkcap', 'capint', 'revenuegrowth', 'debttotalassets', 'currentratio']]

In [ ]:
X

            esgscore  logassets   logmkcap    capint  revenuegrowth  \
code  year
C:ABX 2011     83.71  17.726042  17.647830  3.538112           0.50
      2012     77.59  17.636085  17.366810  3.140715          -0.16
      2013     76.14  17.489465  16.896991  3.043953          -0.04
      2014     78.26  17.407701  16.495275  3.201326          -0.14
      2015     80.65  17.223125  16.294603  2.596024          -0.27
...              ...        ...        ...       ...            ...
U:ZTS 2016     44.69  15.837455  17.088213  1.545213          -0.05
      2017     48.36  15.956282  17.371454  1.602789           0.15
      2018     53.41  16.187249  17.529613  1.839657           0.28
      2019     55.62  16.254111  17.957631  1.830192           0.03
      2020     55.62  16.419311  18.180710  2.024719           0.19

            debttotalassets  currentratio
code  year
C:ABX 2011             0.27          2.25
      2012             0.26          1.33
      2013             0.69          2.15
      2014             0.41          2.40
      2015             0.45          2.96
...                     ...           ...
U:ZTS 2016             0.59          3.03
      2017             0.58          3.85
      2018             0.60          3.60
      2019             0.52          2.63
      2020             0.49          3.05

[11731 rows x 7 columns]

In [ ]:
y

              roa
code  year
C:ABX 2011  10.84
      2012  -1.12
      2013 -23.82
      2014  -6.22
      2015  -7.35
...           ...
U:ZTS 2016  12.08
      2017  12.18
      2018  16.55
      2019  15.12
      2020  14.58

[11731 rows x 1 columns]

In [ ]:
Z = df['roa','esgscore', 'logassets','logmkcap', 'capint', 'revenuegrowth', 'debttotalassets', 'currentratio']
correlation_matrix = Z.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='RdYlGn')
plt.show()

In [ ]:
#@title OLS
X = sm.add_constant(X)
model = sm.OLS(y, X)
result = model.fit()
# T√≠nh to√°n residual (th√†nh ph·∫ßn ng·∫´u nhi√™n)
residuals = result.resid

# Ki·ªÉm tra t·ª± t∆∞∆°ng quan trong th√†nh ph·∫ßn ng·∫´u nhi√™n
autocorrelation = residuals.autocorr()

print("T·ª± t∆∞∆°ng quan: ", autocorrelation)
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    roa   R-squared:                       0.115
Model:                            OLS   Adj. R-squared:                  0.114
Method:                 Least Squares   F-statistic:                     216.7
Date:                Fri, 07 Jul 2023   Prob (F-statistic):          5.42e-304
Time:                        07:38:48   Log-Likelihood:                -43402.
No. Observations:               11731   AIC:                         8.682e+04
Df Residuals:                   11723   BIC:                         8.688e+04
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -4.4566      0.891     -5.000      0.000      -6.204      -2.709
esgscore           -0.0265      0.005     -5.136      0.000      -0.037      -0.016
logassets          -2.4782      0.080    -31.052      0.000      -2.635      -2.322
logmkcap            3.2934      0.090     36.540      0.000       3.117       3.470
capint             -0.0013      0.001     -1.920      0.055      -0.003    2.78e-05
revenuegrowth   -6.275e-05   3.42e-05     -1.834      0.067      -0.000    4.33e-06
debttotalassets    -0.0014      0.000     -3.131      0.002      -0.002      -0.001
currentratio       -0.2861      0.021    -13.735      0.000      -0.327      -0.245
==============================================================================
Omnibus:                     6953.478   Durbin-Watson:                   1.052
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1414786.235
Skew:                          -1.758   Prob(JB):                         0.00
Kurtosis:                      56.685   Cond. No.                     2.61e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.61e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
#@title FEM
# Run PanelOLS on the structured panel data
X_fem = sm.add_constant(X)
model = PanelOLS(y, X_fem, entity_effects=True)
results = model.fit()
print(results)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                    roa   R-squared:                        0.0684
Estimator:                   PanelOLS   R-squared (Between):             -0.0499
No. Observations:               11731   R-squared (Within):               0.0684
Date:                Fri, Jul 07 2023   R-squared (Overall):              0.0153
Time:                        07:38:52   Log-likelihood                -3.973e+04
Cov. Estimator:            Unadjusted
                                        F-statistic:                      110.24
Entities:                        1209   P-value                           0.0000
Avg Obs:                       9.7031   Distribution:                 F(7,10515)
Min Obs:                       3.0000
Max Obs:                      10.0000   F-statistic (robust):             110.24
                                        P-value                           0.0000
Time periods:                      10   Distribution:                 F(7,10515)
Avg Obs:                       1173.1
Min Obs:                       1088.0
Max Obs:                       1209.0

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const              -33.612     2.5284    -13.294     0.0000     -38.568     -28.656
esgscore           -0.0412     0.0070    -5.8633     0.0000     -0.0550     -0.0274
logassets          -1.2932     0.1770    -7.3079     0.0000     -1.6401     -0.9464
logmkcap            3.9466     0.1521     25.954     0.0000      3.6485      4.2446
capint             -0.0010     0.0006    -1.6085     0.1078     -0.0021      0.0002
revenuegrowth   -7.155e-05  2.785e-05    -2.5692     0.0102     -0.0001  -1.696e-05
debttotalassets    -0.0007     0.0004    -1.8215     0.0686     -0.0014   5.081e-05
currentratio        0.1205     0.0267     4.5118     0.0000      0.0682      0.1729
===================================================================================

F-test for Poolability: 7.5849
P-value: 0.0000
Distribution: F(1208,10515)

Included effects: Entity

In [ ]:
#@title REM
# Run Random Effects Model (REM)
X_rem = sm.add_constant(X)
rem_model = RandomEffects(y, X_rem)
rem_results = rem_model.fit()
print(rem_results)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:                    roa   R-squared:                        0.0678
Estimator:              RandomEffects   R-squared (Between):              0.1101
No. Observations:               11731   R-squared (Within):               0.0622
Date:                Fri, Jul 07 2023   R-squared (Overall):              0.0940
Time:                        07:39:05   Log-likelihood                -4.045e+04
Cov. Estimator:            Unadjusted
                                        F-statistic:                      121.81
Entities:                        1209   P-value                           0.0000
Avg Obs:                       9.7031   Distribution:                 F(7,11723)
Min Obs:                       3.0000
Max Obs:                      10.0000   F-statistic (robust):             122.51
                                        P-value                           0.0000
Time periods:                      10   Distribution:                 F(7,11723)
Avg Obs:                       1173.1
Min Obs:                       1088.0
Max Obs:                       1209.0

                                Parameter Estimates
===================================================================================
                 Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
-----------------------------------------------------------------------------------
const              -15.065     1.5255    -9.8752     0.0000     -18.055     -12.074
esgscore           -0.0421     0.0062    -6.7566     0.0000     -0.0544     -0.0299
logassets          -2.0791     0.1213    -17.135     0.0000     -2.3169     -1.8412
logmkcap            3.5784     0.1248     28.678     0.0000      3.3338      3.8230
capint             -0.0010     0.0006    -1.7676     0.0772     -0.0022      0.0001
revenuegrowth   -7.276e-05  2.785e-05    -2.6131     0.0090     -0.0001  -1.818e-05
debttotalassets    -0.0009     0.0004    -2.5567     0.0106     -0.0016     -0.0002
currentratio       -0.0105     0.0242    -0.4336     0.6646     -0.0579      0.0369
===================================================================================

In [ ]:
#@title D-I-D
# Create interaction term between treatment and post
df['treatment_post'] = df['treat'] *  df['post']

# Define the dependent variable (y) and independent variables (X)
y = df[['roa']]
X = df[['treat', 'post', 'treatment_post','esgscore',  'logassets','logmkcap', 'capint', 'revenuegrowth', 'debttotalassets', 'currentratio']]
X = sm.add_constant(X)
# Run the Difference-in-Differences model
model = sm.OLS(y, X)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    roa   R-squared:                       0.115
Model:                            OLS   Adj. R-squared:                  0.115
Method:                 Least Squares   F-statistic:                     152.8
Date:                Fri, 07 Jul 2023   Prob (F-statistic):          1.05e-302
Time:                        07:39:14   Log-Likelihood:                -43397.
No. Observations:               11731   AIC:                         8.682e+04
Df Residuals:                   11720   BIC:                         8.690e+04
Df Model:                          10
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -5.1654      0.920     -5.615      0.000      -6.969      -3.362
treat              -0.5100      0.371     -1.373      0.170      -1.238       0.218
post                0.2615      0.270      0.967      0.334      -0.269       0.792
treatment_post     -0.6577      0.366     -1.796      0.072      -1.375       0.060
esgscore           -0.0085      0.009     -0.977      0.329      -0.026       0.009
logassets          -2.4689      0.080    -30.892      0.000      -2.626      -2.312
logmkcap            3.2926      0.090     36.420      0.000       3.115       3.470
capint             -0.0014      0.001     -1.942      0.052      -0.003     1.3e-05
revenuegrowth   -6.435e-05   3.42e-05     -1.881      0.060      -0.000    2.73e-06
debttotalassets    -0.0014      0.000     -3.152      0.002      -0.002      -0.001
currentratio       -0.2867      0.021    -13.767      0.000      -0.328      -0.246
==============================================================================
Omnibus:                     6958.857   Durbin-Watson:                   1.053
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1409117.235
Skew:                          -1.762   Prob(JB):                         0.00
Kurtosis:                      56.577   Cond. No.                     2.70e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.7e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
#@title üõ†Ô∏è L∆∞u Dataframe
if Sheet_Name == "Total":
  df0 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df0")))
elif Sheet_Name == "Japan":
  df1 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df1")))
elif Sheet_Name == "United Kingdom":
  df2 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df2")))
elif Sheet_Name == "USA":
  df3 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df3")))
elif Sheet_Name == "Canada":
  df4 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df4")))
elif Sheet_Name == "Industrial":
  df5 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df5")))
elif Sheet_Name == "Utility":
  df6 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df6")))
elif Sheet_Name == "Transportation":
  df7 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df7")))
elif Sheet_Name == "Bank/Saving & Loans":
  df8 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df8")))
elif Sheet_Name == "Insurance":
  df9 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df9")))
elif Sheet_Name == "Other Financial":
  df10 = df
  print("Saved dataframe to ", end ="")
  display(Markdown(bold("df10")))

Saved dataframe to

**df1**

In [ ]:
#@title üõ†Ô∏è Check Dataframe
dataframes = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, df10]
display(Markdown(bold("Tr·∫°ng th√°i Dataframe")))

print("| Df_Name | Tr·∫°ng th√°i d·ªØ li·ªáu  |")
print("---------------------------------")
''' # L·∫∑p qua t·ª´ng DataFrame trong danh s√°ch
for i, df in enumerate(dataframes):
    if df.empty:
        print(f"df{i:3} | kh√¥ng c√≥ d·ªØ li·ªáu")
    else:
        print(f"df{i:3} | c√≥ d·ªØ li·ªáu") '''

# L·∫∑p qua danh s√°ch c√°c DataFrame
for i, df in enumerate(dataframes):
    if df is not None and not df.empty:
        print(" df{}  | c√≥ d·ªØ li·ªáu".format(str(i).ljust(5)))
        print("---------------------------------")
    else:
        print(" df{}  | kh√¥ng c√≥ d·ªØ li·ªáu".format(str(i).ljust(5)))
        print("---------------------------------")

**Tr·∫°ng th√°i Dataframe**

| Df_Name | Tr·∫°ng th√°i d·ªØ li·ªáu  |
---------------------------------
 df0      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df1      | c√≥ d·ªØ li·ªáu
---------------------------------
 df2      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df3      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df4      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df5      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df6      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df7      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df8      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df9      | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------
 df10     | kh√¥ng c√≥ d·ªØ li·ªáu
---------------------------------